body {
  padding-top: 50px;
}

[data-ember-action]:not(:disabled) {
  cursor: pointer;
}

.marg-top {
  margin-top: 20px;
}

.header-toggle {
  border: none;
}

.unix-converter {
  padding: 15px;
}

.btn-margin-top {
  margin-top: 15%;
}
