<div class="jumbotron">
    <div class="container">
        <p class="lead">Created by <a href="http://twitter.com/tavosansal">@tavosansal</a></p>
        <h3>What is it?</h3>
        <p>Epocha is a very simple helper app for converting epochs to readable dates in your local timezone.</p>
        <p>Paste your epoch into the input and it will be converted. <br>This will pause the real-time epoch calculation.<br>
            Press the play button again to return to the current epoch calculcation.</p>
        <p>You can use the timezone picker to convert form your local timezone to a different one.</p>
        <p>You can also add multiple converters to compare dates and timestamps.</p>
        
        <h3>Why did you name it 'Epocha'?</h3>
        <p>'Epocha' is the latin word for 'epoch'. I thought it sounded cool and the domain was available.</p>
        
        <p>Built with <a href="http://emberjs.com" target="_blank">Ember</a></p>
        {{#link-to 'home'}}
            &leftarrow; Back
        {{/link-to}}
    </div>
</div>
