<div class="container">
  <h2>About</h2>
  <p>Created by <a href="http://twitter.com/tavosansal" target="_blank" rel="noopener noreferrer">@tavosansal</a></p>

  <h3>What is epoch time?</h3>
  <p>
    The Unix timestamp, also known as POSIX time or epoch time, is a system for tracking time in computing. It
    represents the number of seconds that have elapsed since the Unix epoch, which is defined as 00:00:00 UTC on January
    1, 1970 (not counting leap seconds). This system was introduced as a convenient way to standardize time
    representation across different computer systems and programming languages, providing a simple numeric value that
    can be easily manipulated and compared.
  </p>
  <p>The Unix timestamp is widely used in software development for tasks such as measuring time intervals, scheduling
    events, and handling timestamps in databases. Despite its simplicity, the Unix timestamp has limitations, such as
    not accounting for leap seconds and its eventual rollover in the year 2038, which may lead to issues in systems that
    rely on 32-bit signed integers for time representation. However, it remains a fundamental concept in computing,
    forming the basis for various time-related operations in modern programming languages and frameworks.
  </p>

  <h3>What is it?</h3>
  <p>Epocha is a very simple helper app for converting epochs to readable dates in your local timezone and UTC.</p>
  <p>It provides a real-time timestamp and the time in your current timezone and in UTC</p>
  <p>You can also paste a valid epoch into the input and it will be converted to your current selected timezone and UTC.
    <br />This will pause the real-time epoch calculation.<br />
    <br />Press the play button again to return to the current epoch calculcation.</p>
  <p>You can use the timezone picker to convert from your local timezone to a different one.</p>
  <p>You can also add more converters to compare multiple dates and timestamps side by side.</p>

  <h3>Why did you name it 'Epocha'?</h3>
  <p>'Epocha' is the latin word for 'epoch'. I thought it sounded cool and the domain was available.</p>

  <p>Built with <a href="http://emberjs.com" target="_blank" rel="noopener noreferrer">Ember.js</a></p>
</div>