<div class="jumbotron">
    <div class="container">
        <p class="lead">Created by <a href="http://twitter.com/tavosansal">@tavosansal</a></p>
            <p>This is a very simple helper app for converting epochs to readable dates in your local timezone.</p>
            <p>Paste your epoch into the input and it will be converted. <br>This will pause the real-time epoch calculation.<br>
                Press the play button again to return to the current epoch calculcation.</p>
            {{#link-to 'robot'}}
                &leftarrow; Back
            {{/link-to}}
    </div>
</div>
