<div class="container">
    <h2>About</h2>
    <p class="lead">Created by <a href="http://twitter.com/tavosansal" target="_blank">@tavosansal</a></p>
    <h3>What is it?</h3>
    <p class="lead">Epocha is a very simple helper app for converting epochs to readable dates in your local timezone and UTC.</p>
    <p class="lead">It provides a real-time timestamp and the time in your current timezone and in UTC</p>
    <p class="lead">You can also paste a valid epoch into the input and it will be converted to your current selected timezone and UTC.
        <br>This will pause the real-time epoch calculation.<br>
        Press the play button again to return to the current epoch calculcation.</p>
    <p class="lead">You can use the timezone picker to convert from your local timezone to a different one.</p>
    <p class="lead">You can also add more converters to compare multiple dates and timestamps side by side.</p>

    <h3>Why did you name it 'Epocha'?</h3>
    <p class="lead">'Epocha' is the latin word for 'epoch'. I thought it sounded cool and the domain was available.</p>

    <p class="lead">Built with <a href="http://emberjs.com" target="_blank">Ember.js</a></p>

    <p class="lead">Wolrd Clock icon by Harsha Rai from the Noun Project</p>
</div>
