{{!-- <div class="container">
    <h2 id="title">Welcome to Ember.js</h2>

    <div class="row">
        <div class="col-md-12">
            {{#link-to 'robot' class="btn btn-default"}}
                Robot
            {{/link-to}}
            {{#link-to 'human' class="btn btn-default"}}
                Human
            {{/link-to}}
        </div>
    </div>

    {{liquid-outlet}}
</div> --}}
<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">
            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand">Tempus</h3>
                    <nav>
                        <ul class="nav masthead-nav">
                            <li class="active">
                                <a href="#">Home</a>
                            </li>
                            <li>
                                <a href="#">Features</a>
                            </li>
                            <li>
                                <a href="#">Contact</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="inner cover">
                <h1 class="cover-heading">Cover Page</h1>
                <p class="lead">This is an awesome tool</p>
                {{#link-to 'robot' class="btn btn-default"}}
                    Robot
                {{/link-to}}
                {{#link-to 'human' class="btn btn-default"}}
                    Human
                {{/link-to}}
                {{liquid-outlet}}
            </div>
            <div class="mastfoot">
                <div class="inner">
                    <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>