<div class="container">
  <h2>Downloads</h2>

  <h3>macOS</h3>
  <p class="lead">Epocha is available as a system tray app for your convinience.</p>
  <a href="https://github.com/tavosansal/epocha/releases/download/v1.1.0/epocha.zip"
    class="btn btn-success">
    Download Now (v1.1.0)
    <span class="glyphicon glyphicon-download"></span>
  </a>
  <h3>Windows</h3>
  <p class="lead">Coming at some point</p>
</div>