<div class="container">
  <h2>Downloads</h2>

  <h3>macOS</h3>
  <p>Epocha is available as a system tray app for your convinience.</p>
  <a href="https://firebasestorage.googleapis.com/v0/b/epocha-f2900.appspot.com/o/epocha-osx%2Fepocha-v1.0.0.zip?alt=media"
    class="btn btn-success">
    Download Now
    <span class="glyphicon glyphicon-download"></span>
  </a>
  <h3>Windows</h3>
  <p>Coming at some point</p>
</div>