<div class="jumbotron">
    <div class="container">
        <h1>Epocha</h1>
        <p>Easy epoch to date converter 
          {{#link-to 'about'}}
            <span class="glyphicon glyphicon-question-sign" title="What is this?"></span>
          {{/link-to}}
        </p>
        <div class="container-fluid">
          <div class="row">
            {{#each model as |converter index|}}
                {{unix-converter model=converter index=index}}
            {{/each}}

            <form>
              <button {{action 'addConverter'}}>Add New</button>
            </form>
          </div>
        </div>
    </div>
</div>
