<div class="row">
    <div class="col-md-12">
        {{#link-to 'application'}}
            Back
        {{/link-to}}
        <form>
            <input type="text" class="form-control" placeholder="Robot Date">
            <button type="submit" class="btn btn-primary">Get Date</button>
        </form>
    </div>
</div>